/* ---------------------
UTILITY di KAPO
---------------------- */

/* ---------------------
Reset
---------------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

.btn{
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 18px;
    font-size: 18px;
}
